.button_prev, .button_next {
    width:55px;
    height:55px;
    position: absolute;
    top: 45%;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: white;
    border-radius: 100%; 
    border: 2px solid white;
    font-family: monospace;
    cursor: pointer;
    opacity: 0;
}
.button_prev:hover, .button_next:hover {
    opacity: 1;
}
.button_prev {
    left: 1%;
}
.button_next {
    right: 1%;
}